body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19pt;
}
header {
    margin-bottom: 20px;
    background-color: rosybrown;
    display: flex;
    justify-content: start;
    height: 40px;
    align-items: center;
}

.goods-search {
    margin-right: 30px;
}

.search-button {
    margin-right: 30px;
    border-radius: 10%;
    font-size: 12pt;
    font-weight: bold;
}

.cart-button {
    background-color:gray;
    border-radius: 10%;
    font-size: 12pt;
    justify-self: center;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.goods-item {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods-item:hover {
    background-color: green;
    transition: .5s;
}

.total-cost {
    text-align: center;
}
