body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19pt;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: rosybrown;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.search {
    margin-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

button {
    border: none;
}

.goods-search {
    margin-right: 30px;
    border: none;
    border-radius: 5px;
    height: 60%;
}

.search-button {
    margin-right: 30px;
    border-radius: 10%;
    font-size: 12pt;
    font-weight: bold;
}

.cart-button {
    margin-right: 30px;
    background-color: gray;
    border-radius: 10%;
    font-size: 12pt;
}

.goods-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.goods-item {
    padding: 10px;
    width: 180px;
    /* height: 180px; */
    margin-right: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goods-item:hover {
    background-color: blanchedalmond;
    transition: .5s;
}

.add-cart-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10pt;
    padding: 5px;
}

.add-cart-button:hover {
    background-color: yellow;
    transition: .4s;
}

.cart>p {
    font-size: 30pt;
}

main {
    /* background: linear-gradient(rgb(163, 124, 124), white); */
    background: lightcyan;
    height: 100vh;
}

.error {
    color: red;
    font-weight: bold;
}